@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --poke-red: #ff1b1b;
  --poke-yellow: #ffcb05;
  --poke-blue: #3b4cca;
  --poke-dark-blue: #1f2a38;
  --poke-light-bg: #f0f8ff;
  --poke-dark-text: #213547;
  --poke-light-text: #f1f1f1;

  font-family: 'Press Start 2P', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--poke-light-text);
  background-color: var(--poke-dark-blue);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--poke-yellow);
  text-decoration: inherit;
}
a:hover {
  color: #c7a008;
}

body {
  margin: 0px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--poke-yellow);
  text-shadow: 3px 3px 0px var(--poke-blue);
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--poke-red);
  color: var(--poke-light-text);
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.15s, background-color 0.15s;
  border-bottom: 4px solid #a40f0f;
}
button:hover {
  transform: translateY(-2px);
  background-color: #fa3c3c;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) { /* Tema claro */
  :root {
    color: var(--poke-dark-text);
    background-color: var(--poke-light-bg);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: var(--poke-blue);
    color: var(--poke-light-text);
    border-bottom: 4px solid #2a359a;
  }
}